@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.prize_heading
{

    display: inline block;
    position: relative;
    width: 250px;
    margin: 20 auto;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(rgb(243, 113, 52) 35%, rgb(182, 182, 11) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Montserrat', serif;
}


.prizes_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}
h2
{
    background: linear-gradient(rgb(243, 113, 52) 35%, rgb(182, 182, 11) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Montserrat', serif;
    font-size: 30px;

}

.card {
	position: relative;
	width: 300px;
	height: 250px;
	margin: 20 90 40 70;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;	
	position: relative;
	cursor: pointer;	
    margin-top: 20px;
    margin-bottom: 30px;
	
}
.prize_images
{
    width: 200px;
    height: 280px;
}
.content
{
    width:300px;
    margin-left: 30px;
}

h2
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.card img {
	width: 220px;
	height: 220px;
	margin-left: 40px;
}
.card .medals {
	width: 100%;
	height: 120%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: #F2D388;	
	opacity: 0;
	transition: all 0.4s ease-in;
    border-radius: 28px ;
    border: solid brown;
	
}
.card:hover .medals {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}
.card .medal4 {
	width: 120%;
	height: 120%;	
	padding: 5% 8%;
    text-align: center;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: #F2D388;	
	opacity: 0;
	transition: all 0.4s ease-in;
    border-radius: 28px ;
    border: solid brown;
	
}
.card:hover .medal4 {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}
p
{
    text-align: center;
	color: black;
	font-size: 18px; 
	margin-top: 20px;
	   
}
#extra
{
    width: 280px;
    margin-left: 10px;
}
@media screen and (max-width: 420px)
{
	.prize_heading{

    display: inline block;
    position: relative;
    width: 250px;
    margin: 20 auto;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(rgb(243, 113, 52) 35%, rgb(182, 182, 11) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Montserrat', serif;
	}
	.card img {
		width: 220px;
		height: 220px;
		margin-left: 15px;
	}
	.card {
		position: relative;
		width: 220px;
		height: 220px;
		margin: 50 100 50 70;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: center;	
		position: relative;
		cursor: pointer;
		
	}
	.card .medals {
		width: 120%;
		height: 110%;	
		padding: 5% 8%;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		margin-left: 15px;
		transform: translate(-50%, -50%) rotateY(90deg);
		transform-origin: 50%;
		background: #F2D388;	
		opacity: 0;
		transition: all 0.4s ease-in;
		border-radius: 28px ;
		border: solid brown;
		
	}
	.card:hover .medals {
		transform: translate(-50%, -50%) rotateY(0deg);
		opacity: 1;
	}
	p
	{
    text-align: center;
	color: black;
	font-size: 17px; 
	margin-top: 10px;	   
	}
	h2
	{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
	font-size: 26px;
	}
	#prizes{
		min-height:265vh;
		background-color:rgb(254, 196, 126);
	}
	.card .medal4 {
		width: 145%;
		height: 110%;	
		padding: 5% 8%;
		text-align: center;
		position: absolute;
		margin-left: 15px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateY(90deg);
		transform-origin: 50%;
		background: #F2D388;	
		opacity: 0;
		transition: all 0.4s ease-in;
		border-radius: 28px ;
		border: solid brown;
		
	}
	.card:hover .medal4 {
		transform: translate(-50%, -50%) rotateY(0deg);
		opacity: 1;
	}

}
@media screen and (min-width: 800px) and (max-width: 900px)
{
	.card img 
	{
		width: 280px;
		height: 280px;
		margin-left: 15px;
	}
	#prizes{
		min-height:200vh;
		background-color:rgb(254, 196, 126);
	}

	.card {
		position: relative;
		width: 280px;
		height: 280px;
		margin: 60 130 50 70;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: center;	
		position: relative;
		cursor: pointer;		
	}
	.card .medals {
		width: 130%;
		height: 120%;	
		padding: 5% 8%;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateY(90deg);
		transform-origin: 50%;
		background: #F2D388;	
		opacity: 0;
		transition: all 0.4s ease-in;
		border-radius: 28px ;
		border: solid brown;
		
	}
	.card:hover .medals {
		transform: translate(-50%, -50%) rotateY(0deg);
		opacity: 1;
	}
	p
	{
    text-align: center;
	color: black;
	font-size: 23px; 
	margin-top: 10px;	   
	}
	h2
	{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
	font-size: 40px;
	}
	.prize_heading
	{
    display: inline block;
    position: relative;
    width: 340px;
    margin: 20 auto;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(rgb(243, 113, 52) 35%, rgb(182, 182, 11) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Montserrat', serif;
	}
	.card .medal4 {
		width: 150%;
		height: 110%;	
		padding: 5% 8%;
		text-align: center;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateY(90deg);
		transform-origin: 50%;
		background: #F2D388;	
		opacity: 0;
		transition: all 0.4s ease-in;
		border-radius: 28px ;
		border: solid brown;
		
	}
	.card:hover .medal4 {
		transform: translate(-50%, -50%) rotateY(0deg);
		opacity: 1;
	}
}